client
tls-client
{% set confdir = (item.confdir | default(openvpn_config_directory)) %}
ca {{ confdir }}/certs/ca.crt
cert {{ confdir }}/certs/{{ item.name }}.crt
key {{ confdir }}/private/{{ item.name }}.key
tls-crypt {{ confdir }}/myvpn.tlsauth
remote-cert-eku "TLS Web Server Authentication"
cipher {{ openvpn_cipher }}

proto udp
remote {{ openvpn_client_server }} {{ openvpn_port }} udp
dev tun
topology subnet
{% if openvpn_compression == 'legacy' %}
comp-lzo
{% endif %}

pull
user nobody
group nogroup
