# network
{% if openvpn_listen_ip is defined %}
local {{ openvpn_listen_ip }}
{% endif %}
port {{ openvpn_port }}
proto udp
dev tun
persist-key
persist-tun
user nobody
group nogroup

# server mode and supply a VPN subnet for OpenVPN to draw client addresses from.
server {{ openvpn_subnet }}
topology subnet

# dhcp pool
ifconfig-pool-persist {{ openvpn_config_directory }}/ipp.txt

# Push routes to the clients
{% if openvpn_push_routes is defined %}
{% for route in openvpn_push_routes %}
push "route {{ route }}"
{% endfor %}{% endif %}

# client configurations
{% if openvpn_max_clients is defined %}
max-clients {{ openvpn_max_clients }}
{% endif %}
client-config-dir {{ openvpn_config_directory }}/ccd
{% if openvpn_clients is defined %}{% for client in openvpn_clients %}
{% if client.route is defined %}
route {{ client.route }}
{% endif %}
{% endfor %}{% endif %}
{% if openvpn_is_default_gw | bool %}

# all traffic through vpn
push "redirect-gateway def1 bypass-dhcp"
{% endif %}
{% if openvpn_push_dns is defined %}
{% for dns_ip in openvpn_push_dns %}

# push dns options to clients
push "dhcp-option DNS {{ dns_ip }}"
{% endfor %}{% endif %}

# compression
{% if openvpn_compression == 'legacy' %}
comp-lzo
{% endif %}
{% if openvpn_compression != 'legacy' and openvpn_compression | bool  %}
compress lz4-v2
push "compress lz4-v2"
{% endif %}

# connection recovery
keepalive 10 120
explicit-exit-notify 1

# security
ca {{ openvpn_config_directory }}/certs/ca.crt
cert {{ openvpn_config_directory }}/certs/server.crt
key {{ openvpn_config_directory }}/private/server.pem

dh {{ openvpn_config_directory }}/dh2048.pem
tls-crypt {{ openvpn_config_directory }}/{{
	  openvpn_static_encryption_key_filename }} {{ openvpn_tls_direction }}
cipher {{ openvpn_cipher }}
remote-cert-eku "TLS Web Client Authentication"

# logging
status {{ openvpn_log_dir }}/openvpn-status.log
log{% if openvpn_log_append | bool %}-append{% endif %} {{ openvpn_log_dir }}/openvpn.log
verb {{ openvpn_log_verbosity }}
{% if openvpn_log_mute is defined %}
mute {{ openvpn_log_mute }}
{% endif %}
